div{
    background-color: rgb(45, 211, 45);
    color: white;
    font-size: 10px;
}
.Tejavardhan{
    color:white;
    font-size:20px;
}
.Tejavardhan1{
    background-color: orangered;
    color:white;
    font-size: 15px;

}
.Tejavardhan2{
    background-color: #4e4ef5;

}
h3{
    color:black;
    font-size: medium;
}
h2{
    color:black;
}
h4{
    color:black;
}

.Tejavardhan3{
    background-color: rgb(230, 230, 107);
    color:white;
}
h2{
    color:white;
}

.Tejavardhan4{
    background-color: violet;
    color:white;
}
h2{
    color:white;
}